<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header text-white bg-primary mb-3">
          {{pageTitle}}
        </div>

        <form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="stocksForm">

          <div class="card-body">

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="stockName">Stock Name</label>
              <div class="col-md-10">
                <select formControlName="stockName"
                  [ngClass]="{'is-invalid' : s.stockName.errors && (s.stockName.touched || s.stockName.dirty)}"
                  class="form-select">
                  <option *ngFor="let med of meds" [value]="med.name">{{med.viewValue}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="s.stockName.errors?.required">
                  Medicine Name is Required
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="quantity">Quantity</label>
              <div class="col-md-10">
                <input type="number"
                  [ngClass]="{'is-invalid' : s.quantity.errors && (s.quantity.touched || s.quantity.dirty)}"
                  class="form-control" formControlName="quantity">
                <div class="invalid-feedback" *ngIf="s.quantity.errors?.required">
                  Quantity is Required
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <div class="d-grid gap-2 d-md-block">
              <button (click)="clearForm()" class="btn btn-dark" type="button">Reset</button>
              &nbsp;
              <button class="btn btn-success" type="submit" [disabled]="stocksForm.invalid">Save</button>
            </div>
          </div>

        </form>

        <div class="row mb-3">

          <div class="table table-responsive">
            <table class="table table-bordered" *ngIf="stock && stock.length">
              <thead>
                <tr class="table-dark text-center">
                  <th>Stock Name</th>
                  <th>Quantity</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stocks of stock" class="text-center">
                  <td>{{ stocks.stockName }}</td>
                  <td>{{ stocks.quantity }}</td>
                  <td>
                    <button (click)="edit(stocks.id)" class="btn btn-primary">Edit</button>
                    &nbsp;
                    <button (click)="delete(stocks.id)" class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      
        </div>

      </div>

      <table class="table">
        <tr>
          <th style="padding: 10px">FormGroup</th>
          <th style="padding: 10px">FormControl (stockName)</th>
        </tr>
        <tr>
          <td style="padding: 10px">
            touched : {{ stocksForm.touched }}
            <br /> dirty : {{ stocksForm.dirty }}
            <br /> valid : {{ stocksForm.valid }}
            <br /> Form Values : {{stocksForm.value | json}}
          </td>
          <td style="padding: 10px">
            touched : {{ stocksForm.controls.stockName.touched }}
            <br /> dirty : {{ stocksForm.controls.stockName.dirty }}
            <br /> valid : {{ stocksForm.controls.stockName.valid }}
            <br /> Task Value : {{stocksForm.controls.stockName.value}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
