<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header text-white bg-primary mb-3">
          Medicine
        </div>

        <!-- <form class="form-horizontal"> -->
            <input type="hidden" [(ngModel)]="medicineService.selectedMedicine.id">
          <div class="card-body">

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="medicineType">Medicine Type</label>
              <div class="col-md-10">
                <select [(ngModel)]="medicineService.selectedMedicine.medicineType" class="form-select">
                  <option selected>Select a Type</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="invalid-feedback">
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="medicineName">Medicine Name</label>
              <div class="col-md-10">
                <input type="text" class="form-control" [(ngModel)]="medicineService.selectedMedicine.medicineName">
                <div class="invalid-feedback">
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="medicineCategory">Medicine Category</label>
              <div class="col-md-10">
                <select class="form-select" [(ngModel)]="medicineService.selectedMedicine.medicineCategory">
                  <option selected>Select a Category</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="invalid-feedback">
                </div>
              </div>
            </div>

          </div>

        <div class="card-footer">
          <div class="d-grid gap-2 d-md-block">
            <button (click)="resetForm()" class="btn btn-warning" type="button">Cancel</button>
            &nbsp;
            <button (click)="createAndUpdate(medicineService.selectedMedicine)" class="btn btn-success" type="submit">Save</button>
          </div>
        </div>

    <!-- </form> -->

      </div>
    </div>
  </div>
</div>
