<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
<!--             <div class="card">
                <div class="card-header text-white bg-primary mb-3">
                    ANGULAR CRUD AND AUTHENTICATION APP
                </div>
                <div class="card-body mx-auto">
                    <img src="assets/images/Employees.jpg"/>
                </div>
                <div class="card-footer">
                    All Rights Reserved 2021
                </div>
            </div> -->
            <div class="p-5 mb-4 bg-light text-center rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="fw-bold">
                        ANGULAR CRUD AND AUTHENTICATION APP
                    </h1>
                    <p class="col-md-8 mx-auto fs-4">
                        Welcome to my custom Angular 12 CRUD and authentication built from scratch
                    </p>
            <button class="btn btn-primary btn-lg" routerlinkactive="active" routerlink="register">
                        REGISTER
                    </button>
                    &nbsp;
        <button class="btn btn-dark btn-lg" routerlinkactive="active" routerlink="login">
                        LOGIN
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
